@use './vars' as *;

.title-mark {
    color: var(--highlightColor);
}

.blue-button {
    color: #fff;
    background-color: var(--highlightColor);
    border-radius: 10px;
    max-width: rem(193);
    padding: clampScss(5px, rem(10), 15px) 27px;
    text-align: center;

    transition: all .4s ease;

    @media(max-width: 470px) {
        padding: clampScss(5px, rem(10), 15px) 10px;
    }

    @media (hover: hover) {
        &:hover {
            box-shadow: var(--highlightColor) 0 rem(5) rem(20);
        }
    }
}

.white-button {
    color: var(--highlightColor);
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid var(--highlightColor);
    max-width: rem(193);

    transition: all .4s ease;

    padding: clampScss(5px, rem(10), 15px) 27px;

    @media(max-width: 470px) {
        padding: clampScss(5px, rem(10), 15px) 10px;
    }

    @media (hover: hover) {
        &:hover {
            color: #fff;
            background-color: var(--highlightColor);
            box-shadow: var(--highlightColor) 0 rem(5) rem(20);
        }
    }
}

.circle {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: minScss(35vw, 500px);
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        z-index: -1;

        @media(max-width: em(800)) {
            display: none;
        }
    }
}