* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	// min-width: var(--minWidth);
	scroll-behavior: smooth;
}

body {
	color: var(--mainColor);
	font-weight: 400;
	line-height: 1.75;
	font-family: var(--fontFamily);
	font-size: var(--fontSize);
	//text-rendering: optimizeLegibility;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}

input,
button,
textarea {
	font-family: var(--fontFamily);
	font-size: inherit;

	&:focus-visible {
		outline-color: var(--highlightColor);
	}
}

button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}

a {
	color: inherit;
}

a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

mark {
	text-decoration: none;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.main {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

.container {
	max-width: var(--containerWidth);
	margin: 0 auto;
	padding: 0 15px;
}