@use "./vars" as *;

@media(max-width: em(610)) {
    .spollers {
        display: grid;
        gap: 15px;
    }
    
    .spollers__item {}
    
    .spollers__title {
        width: 100%;
        cursor: default;
        text-align: center;
        padding-right: minScss(rem(35), 95px);
        border-radius: rem(5);
        position: relative;
    
        
        ._spoller-init & {
            cursor: pointer;
    
            &::before,
            &::after {
                content: "";
                position: absolute;
                right: 10px;
                top: 50%;
                background-color: #000;
                height: rem(2);
                width: minScss(rem(15), 50px);
                transition: transform 0.5s ease 0s;

                @media(max-width: 470px) {
                    height: minScss(rem(2), 5px);
                    width: minScss(rem(15), 30px);
                }
            }
    
            &::before {
                transform: translate(-70%, -50%) rotate(40deg);
            }
    
            &::after {
                transform: translate(0, -50%) rotate(-40deg);
            }
    
            &._spoller-active {
                &::before {
                    transform: translateX(-75%) rotate(-40deg);
                }
    
                &::after {
                    transform: rotate(40deg);
                }
            }
        }
    }
    
    .spollers__body {
        ul {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
    }
}